{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="images/ico/favicon.png">
        <link rel="shortcut icon" type="image/x-icon" href="images/ico/favicon.ico">

        <title>Team Destiny Foundation</title>
        
        <!-- Bootstrap core CSS -->
        <link href="{% static 'destiny/assets/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'destiny/css/style.css' %}" rel="stylesheet">
        
        <!-- color schema -->
        <link href="{% static 'destiny/css/color-1.css' %}" rel="stylesheet" id="layoutstyle">     
        
        <!-- google font for title -->
        <link href="{% static 'destiny/css/google-font.css' %}" rel="stylesheet" id="googlefont">      
        
        <!-- fontawesome -->
        <link href="{% static 'destiny/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

        <link href="{% static 'destiny/lib/superslides/dist/stylesheets/superslides.css' %}" rel="stylesheet">
    
        <link href="{% static 'destiny/lib/jquery.bxslider/jquery.bxslider.css' %}" rel="stylesheet" />
        
        <link href="{% static 'destiny/lib/3DGridEffect/css/component.css' %}" rel="stylesheet" />
        <script src="{% static 'destiny/lib/3DGridEffect/js/modernizr.custom.js' %}"></script>     
        
        <link href="{% static 'destiny/lib/magnific-popup/dist/magnific-popup.css' %}" rel="stylesheet" > 

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="{static 'destiny/js/html5shiv.js' %}"></script>
          <script src="{static 'js/respond.min.js' %}"></script>
        <![endif]-->
        
        
    </head>

    <body>  
    
    <div class="mask">          
      <div id="intro-loader">
      </div>        
    </div>  
    
    <div id="slides">
        <div class="slides-container">
          <img src="{% static 'destiny/images/africa/africa.jpg' %}" alt="slider1">
          <img src="{% static 'destiny/images/africa/africa2-1.jpg' %}" alt="slider2">
          <img src="{% static 'destiny/images/africa/africa3-2.jpg' %}" alt="slider3">
          <img src="{% static 'destiny/images/africa/africa4-1.jpg' %}" alt="slider4">
        </div>
    </div>  
    
    <!-- intro -->
    <div id="top" class="top">
        <div class="intro">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 text-center animate_left">
                        {% comment %}
                        <div class="logo"><img src="{% static 'destiny/images/logo.png' %}" alt="logo"></div>
                        {% endcomment %}

                        <span class="subtitle">Giving Hope To The Hopeless.</span>
                    </div>                  
                    <div class="col-md-9 slider_title">
                        <h2 class="animate_top">Help us build 2 to 4 houses a year for those less fortunate.<span id="pageLoad" style="visibility:hidden;">0</span></h2>
                        <!--<a class="top_btn" href="#">Donate Now</a>-->
                        
                        <div class="animate_bottom">
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_donations">
                                <input type="hidden" name="business" value="destinyfoundation2014@gmail.com">
                                <input type="hidden" name="lc" value="US">
                                <input type="hidden" name="item_name" value="Destiny Foundation Donation">
                                <input type="hidden" name="no_note" value="0f">
                                <input type="hidden" name="currency_code" value="USD">
                                <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
                                <input type="submit" class="top_btn" value="Donate Now">                        
                            </form>
                        </div>
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Fixed navbar -->
    <div id="nav-wrapper">
        <div id="nav" class="navbar">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand nav-title" href="#">Destiny Foundation</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#top">Home</a></li>
                <li><a href="#history">History</a></li>
                <li><a href="#success">Our Success</a></li>
                <li><a href="#help">Help Us</a></li>
                <li><a href="#team">Our Team</a></li> 
                {% comment %}  
                <li><a href="#gallery">Gallery</a></li> 
                {% endcomment %}
                <li><a href="#contact">Contact us</a></li>
                <li><a href="#help">Donate</a></li>   
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>      
    </div>
    
        <!-- Mini Goal-->
        <div class="container" id="goal">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 welcome_txt text-center animate_bottom">
                    <p><span>Our goal</span> is to provide <span>adequate</span> housing and accomodations for <span>less fortunate</span> families in Africa.
                    </p>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    
    
    {% block video %}
    <!-- Video -->
    <div class="education" id="history">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12 heading dark animate_top">Video with <span>Cedric</span> and <span>Kelechi</span> here.</div>
            </div>
            <div class="row">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/TvLd5GFlSho" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="row">
                <div class="col-md-4 b1">
                    <i class="fa fa-heart"></i>
                    <h3 class="animate_top">Helping Families</h3>
                    <p class="animate_bottom">Everyday families live and wake up in conditions that are not acceptable, so we'll change that.</p>  
                </div>
                <div class="col-md-4 b2">
                    <i class="fa fa-star"></i>
                    <h3 class="animate_top">Ensuring Better Life</h3>
                    <p class="animate_bottom">Team Destiny Foundation aims to improve the living conditions for families living in Nigeria.</p>               
                </div>
                <div class="col-md-4 b3">
                    <i class="fa fa-thumbs-up"></i>
                    <h3 class="animate_top">We Can Do It</h3>
                    <p class="animate_bottom">With your help and help from our strong team. We can make building 2-4 houses a year a reality for families that really need it.</p>
                </div>
            </div>         
        </div>
    </div>
    {% endblock %}

    <!-- About us -->
    <div class="about_us">
        <div class="container">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h3 class="animate_top">Destiny Foundation is...</h3>
            </div>
            <div class="col-md-2"></div>
            <div class="row text-center">
                <div class="col-md-1"></div>
                <div class="col-md-7 animate_left">
                    <h3>A non profit organization dedicated to building homes for the impoverished in Africa</h3>
                </div>
                <div class="col-md-3 animate_right">
                    <a href="#help"><button class="top_btn">Donate</button></a>
                </div>
                <div class="col-md-1"></div>
            </div><!-- End call action text -->
        </div>
    </div>
    
    
    {% block successes %}
    <!-- Successes -->
    <div class="stories" id="success">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12 heading dark animate_top">Our successfully built <span>homes</span></div>
            </div>  
            <div class="row">
                <div class="col-md-12">
                    <ul class="bxslider_story">
                        <li class="s1">
                            <img src="{% static 'destiny/images/homes/1.jpg' %}" alt="img">
                            <h3 class="animate_top">Something, Lagos</h3>
                            <p class="animate_bottom">Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte.</p>
                        </li>
                    
                        <li class="s1">
                            <img src="{% static 'destiny/images/homes/2.jpg' %}" alt="img">
                            <h3 class="animate_top">Something, Abuja</h3>
                            <p class="animate_bottom">Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte.</p>
                        </li>           
                    
                        <li class="s1">
                            <img src="{% static 'destiny/images/homes/4.jpg' %}" alt="img">
                            <h3 class="animate_top">Something, Salma</h3>
                            <p class="animate_bottom">Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte.</p>
                        </li>
                    
                        <li class="s1">
                            <img src="{% static 'destiny/images/homes/3.jpg' %}" alt="img">
                            <h3 class="animate_top">Something, Egypt</h3>
                            <p class="animate_bottom">Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte.</p>
                        </li>
                    
                        <li class="s1">
                            <img src="{% static 'destiny/images/homes/5.jpg' %}" alt="img">
                            <h3 class="animate_top">Something, Khan</h3>
                            <p class="animate_bottom">Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte.</p>
                        </li>           
                
                    </ul>   
                </div>      
            </div>
        </div>    
    </div>  
    {% endblock %}
    
    <!-- How can you help -->
    <div class="how_can_you_help_bg parallax" id="help">
        <div class="how_can_you_help">
            <div class="container"> 
                <div class="row">
                    <div class="col-md-12 text-center heading animate_top">How can you<span class="brd"> help?</span></div>
                </div>

            
                <ul class="nav nav-tabs responsive second text-center" id="myTab">
                  <li class="active"><a href="#tab1">Become a volunteer</a></li>
                  <li><a href="#tab2">Donate</a></li>               
                </ul>

                <div class="tab-content responsive">
                    <div class="tab-pane active in fade" id="tab1">

                        <div class="row">
                            <div class="col-md-6 animate_top">
                                <h3><i class="fa fa-question-circle"></i>How do I become a volunteer?</h3>
                                
                                <p class="animate_bottom">Below you can find our contact info. Please reach out to Kelechi Ogbuehi our Founder and CEO.</p>
                            </div>
                            <div class="col-md-6 animate_top">
                                <h3><i class="fa fa-question-circle"></i>Where does my donation go?</h3>
                                
                                <p class="animate_bottom">All funds raised for Team Destiny Foundation are used for the sole purpose of building homes in Nigeria. We have a professional team and board of directors who oversee all activities.</p>
                            </div>                  
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6 animate_top">
                                <h3><i class="fa fa-question-circle"></i>Can I get photos and videos of homes being built?</h3>
                                
                                <p class="animate_bottom">Yes! We'll be updating our website with more photos and videos of the current projects underway. It's exciting to see your hard earned money helping those less fortunate.</p>
                            </div>
                            <div class="col-md-6 animate_top">
                                <h3><i class="fa fa-question-circle"></i>Can I join the team?</h3>
                                
                                <p class="animate_bottom">Of course! Get in contact with us!</p>
                            </div>                  
                        </div>
                    
                    </div>                  
                  
                    <div class="tab-pane fade" id="tab2">
                        <div class="row">
                            <div class="col-md-6 animate_left">
                                <img height='376' width='570' src="{% static 'destiny/images/africa/africa3-1.jpg' %}" alt="img" />
                            </div>                      
                            <div class="col-md-6 left_con animate_right">
                                <h3>Be your brother's keeper</h3>
                                <p>If you would like to help us build homes for families living in poor conditions like the one pictured, then help us and donate. We can do it if we work together</p>
                    
                                <!--<a class="donate_btn" href="#">Donate Now</a>-->
                                
                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_donations">
                                <input type="hidden" name="business" value="destinyfoundation2014@gmail.com">
                                <input type="hidden" name="lc" value="US">
                                <input type="hidden" name="item_name" value="Destiny Foundation Donation">
                                <input type="hidden" name="no_note" value="0">
                                <input type="hidden" name="currency_code" value="USD">
                                <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
                                <input type="submit" class="top_btn2" value="Donate Now">                               
                                </form>                             
                                
                            </div>
                        </div>                  
                    </div>                                      
                </div>  
            </div>
        </div>
    </div>
    
    <div class="team" id="team">
        <div class="container">
            
            <div class="row">
                <div class="col-md-12 text-center heading dark animate_top">
                    Who's behind <span>Destiny Foundation</span>
                </div>
            </div>
            
            <div class="row t1">
                <div class="col-md-3 animate_left">
                    <img height="250" width="250" src="{% static 'destiny/images/staff/mom.png' %}" alt="img">
                </div>
                <div class="col-md-9 animate_right">
                    <h3>Kelechi Ogbuehi</h3>
                    <p>President and Founder, Destiny Foundation, Inc.</p>

                    {% comment %}
                    <p>Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte. Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte.</p>
                    <ul>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>   
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>  
                    </ul>
                    {% endcomment %}

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center heading dark animate_top">
                    <span>Destiny Foundation</span> Directors
                </div>
            </div>
            <div class="row t1">
                <div class="col-md-9 animate_left">
                    <h3>Curt Gadsen</h3>
                    {% comment %}
                    <p>Organizer, Borno, Inc.</p>
                    <p>Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte. Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte.</p>
                    <ul>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>   
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>  
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>  
                    </ul>
                    {% endcomment %}                   
                </div>
                <div class="col-md-3 animate_right">
                    <img height="250" width="250" src="{% static 'destiny/images/staff/curt.jpg' %}" alt="img">
                </div>              
            </div>
            <div class="row t1">
                <div class="col-md-3 animate_left">
                    <img height="250" width="250" src="{% static 'destiny/images/staff/itata.png' %}" alt="img">
                </div>
                <div class="col-md-9 animate_right">
                    <h3>Itata Itata Esq</h3>
                    {% comment %}
                    <p>Organizer, Borno, Inc.</p>
                    <p>Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte. Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte.</p>
                    <ul>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>   
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>  
                    </ul>
                    {% endcomment %}                   
                </div>
            </div>
             <div class="row t1">
                <div class="col-md-9 animate_left">
                    <h3>Maurine Ngamalue</h3>
                    {% comment %}
                    <p>Organizer, Borno, Inc.</p>
                    <p>Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte. Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte.</p>
                    <ul>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>   
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>  
                    </ul>
                    {% endcomment %}                   
                </div>
                <div class="col-md-3 animate_right">
                    <img height="250" width="250" src="{% static 'destiny/images/staff/maurine.png' %}" alt="img">
                </div>
            </div>
             <div class="row t1">
                <div class="col-md-3 animate_left">
                    <img height="250" width="250" src="{% static 'destiny/images/staff/cj.jpg' %}" alt="img">
                </div>
                <div class="col-md-9 animate_right">
                    <h3>Christopher Ogbuehi Jr</h3>
                    {% comment %}
                    <p>Organizer, Borno, Inc.</p>
                    <p>Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte. Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte.</p>
                    <ul>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>   
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>  
                    </ul>
                    {% endcomment %}                   
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center heading dark animate_top">
                    <span>Destiny Foundation</span> Agent
                </div>
            </div>
             <div class="row t1">
                <div class="col-md-3 animate_left">
                    <img height="250" width="250" src="{% static 'destiny/images/staff/guy.png' %}" alt="img">
                </div>
                <div class="col-md-9 animate_right">
                    <h3>Atny Lui Akwuruoha</h3>
                    {% comment %}
                    <p>Organizer, Borno, Inc.</p>
                    <p>Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte. Lorem ipsum dolor sit amet, consecte tur adipiscing elit. Nulla ornare port titor diam, a accumsan justo laoreet.Lorem ipsum dolor sit amet, consecte.</p>
                    <ul>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>   
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>  
                    </ul>
                    {% endcomment %}                   
                </div>
            </div>

        </div>  
    </div>      

    <!-- Subscribe -->
    <div class="subscribe">         
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center heading newsletter animate_top">
                    Join Our <span>Mailing</span> List
                </div>
            </div>
                
            <form id="signup" action="https://formspree.io/destinyfoundation2014@gmail.com" method="POST">
                <div class="row">   
                    <div class="col-md-2"></div>
                    <div class="col-md-5 text-center nopadding">
                        <input type="email" name="_replyto" id="email" placeholder="Your email address..." class="form-control" />
                    </div>
                    <div class="col-md-3 text-center nopadding">    
                        <input type="submit" name="submit" value="Subscribe" id="subscribe_button" class="button " />
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </form>
        </div>      
    </div>
    
    {% block image-gallery %}
    <!-- Image gallery -->
    <div class="gallery-bg parallax" id="gallery">  
        <div class="gallery">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center heading dark animate_top">Image <span>Gallery</span></div>
                </div>
            </div>  
            <section class="grid3d vertical" id="grid3d">
                <div class="grid-wrap">
                    <div class="grid">
                        <figure><img src="{% static 'destiny/images/gallery/1.jpg' %}" alt="img01"/></figure>
                        <figure><img src="{% static 'destiny/images/gallery/2.jpg' %}" alt="img05"/></figure>
                        <figure><img src="{% static 'destiny/images/gallery/3.jpg' %}" alt="img08"/></figure>
                        <figure><img src="{% static 'destiny/images/gallery/4.jpg' %}" alt="img02"/></figure>
                        <figure><img src="{% static 'destiny/images/gallery/5.jpg' %}" alt="img04"/></figure>
                        <figure><img src="{% static 'destiny/images/gallery/6.jpg' %}" alt="img03"/></figure>                      
                    </div>
                </div><!-- /grid-wrap -->
                <div class="content">
                    <div>
                        <div class="dummy-img"><img src="{% static 'destiny/images/gallery/1.jpg' %}" alt="img01"/></div>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                    </div>
                    <div>
                        <div class="dummy-img"><img src="{% static 'destiny/images/gallery/2.jpg' %}" alt="img01"/></div>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                    </div>
                    <div>
                        <div class="dummy-img"><img src="{% static 'destiny/images/gallery/3.jpg' %}" alt="img01"/></div>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                    </div>
                    <div>
                        <div class="dummy-img"><img src="{% static 'destiny/images/gallery/4.jpg' %}" alt="img01"/></div>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                    </div>
                    <div>
                        <div class="dummy-img"><img src="{% static 'destiny/images/gallery/5.jpg' %}" alt="img01"/></div>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                    </div>
                    <div>
                        <div class="dummy-img"><img src="{% static 'destiny/images/gallery/6.jpg' %}" alt="img01"/></div>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                        <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                    </div>
                    
                    <span class="loading"></span>
                    
                    <span class="close-content fa fa-times"></span>
                </div>
            </section>
        </div>  
    </div> 
    {% endblock %} 

    {% block recent-programs %}
    <!-- Recent Programs -->
    <div class="recent_news" id="recent_news">
        <div class="container">     
            <div class="row text-center">
                <div class="col-md-12 heading dark animate_top">Recent <span>Programs</span></div>
            </div>                      
            <div class="row act">
                <div class="col-md-3">
                    <img src="{% static 'destiny/images/activity/act4.jpg' %}" alt="img" class="animate_top">
                    <div class="animate_bottom s1">
                        <h4>Lorem ipsum dolor sit</h4>
                        <p class="date">Issie 18 - 24 October 2013</p>
                        <!--p class="meta">
                            <i class="fa fa-calendar"></i>August 5, 2013<br>
                            <i class="fa fa-clock-o"></i>9:00am - 1:00pm<br>
                            <i class="fa fa-map-marker"></i>TheWebLab
                        </p-->
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aper. </p>         
                        <p class="readmore"><a href="recent_program.html" class="ajax-popup-link">...read more</a></p>
                    </div>                                              
                </div>
                <div class="col-md-3">
                    <img src="{% static 'destiny/images/activity/act2.jpg' %}" alt="img" class="animate_top">
                    <div class="animate_bottom s1">
                        <h4>Sed ut perspiciatis</h4>
                        <p class="date">Issie 18 - 24 October 2013</p>
                        <!--p class="meta">
                            <i class="fa fa-calendar"></i>August 5, 2013<br>
                            <i class="fa fa-clock-o"></i>9:00am - 1:00pm<br>
                            <i class="fa fa-map-marker"></i>TheWebLab
                        </p-->
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aper. </p>
                        <p class="readmore"><a href="recent_program.html" class="ajax-popup-link">...read more</a></p>
                    </div>  
                </div>
                <div class="col-md-3">
                    <img src="{% static 'destiny/images/activity/act3.jpg' %}" alt="img" class="animate_top">
                    <div class="animate_bottom s1">
                        <h4>Lorem ipsum dolor sit</h4>
                        <p class="date">Issie 18 - 24 October 2013</p>
                        <!--p class="meta">
                            <i class="fa fa-calendar"></i>August 5, 2013<br>
                            <i class="fa fa-clock-o"></i>9:00am - 1:00pm<br>
                            <i class="fa fa-map-marker"></i>TheWebLab
                        </p-->
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aper. </p>
                        <p class="readmore"><a href="recent_program.html" class="ajax-popup-link">...read more</a></p>
                    </div>
                </div>  
                <div class="col-md-3">
                    <img src="{% static 'destiny/images/activity/act3.jpg' %}" alt="img" class="animate_top">
                    <div class="animate_bottom s1">
                        <h4>Lorem ipsum dolor sit</h4>
                        <p class="date">Issie 18 - 24 October 2013</p>
                        <!--p class="meta">
                            <i class="fa fa-calendar"></i>August 5, 2013<br>
                            <i class="fa fa-clock-o"></i>9:00am - 1:00pm<br>
                            <i class="fa fa-map-marker"></i>TheWebLab
                        </p-->
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aper. </p>
                        <p class="readmore"><a href="recent_program.html" class="ajax-popup-link">...read more</a></p>
                    </div>
                </div>              
            </div>
        </div>
    </div>
    {% endblock %}
    
    <!-- Contact with us -->
    <div class="contact-bg parallax" id="contact">
        <div class="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center heading animate_top"><span class="brd">Contact </span>Us</div>
                </div>
                
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 contact_info animate_right">
                        
                        <p>Want to get in contact with us to learn more about our programs? Fill out the form and we'll be in touch.</p>
                        
                        {% comment %}
                        <h5>Address</h5>
                        <p>1203 Wilshire ct<br>Allen, TX 75002</p>
                        {% endcomment %}
                        
                        <h5>Phone</h5>
                        <p>+4698671166</p>
                        
                        <h5>Email</h5>
                        <p>destinyfoundation2014@gmail.com</p>
                    </div>
                    <div class="col-md-3"></div>

                
                </div>
            </div>
        </div>
    </div>
    
    <!-- Social-icons -->
    <div class="social-icons">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12 text-center heading animate_top"><span>Spread </span>the word</div>
            </div>      
        
            <div class="row">
                <div class="col-md-12">
                    <ul class="animate_bottom">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>                      
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>      
    
    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12"><p>Copyright &copy; 2016, All rights reserved by Destiny Foundation</p></div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'destiny/js/jquery.js' %}"></script> 
    
    <script src="{% static 'destiny/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    
    <!--<script src="js/inviewport.jquery.js"></script>-->
    
    <script src="{% static 'destiny/js/jquery.animateNumbers.js' %}"></script> 
    
    <script src="{% static 'destiny/js/responsive-tabs.js' %}"></script>
    
    <script src="{% static 'destiny/lib/jQuery-One-Page-Nav/jquery.scrollTo.js' %}"></script>
    <script src="{% static 'destiny/lib/jQuery-One-Page-Nav/jquery.nav.js' %}"></script>   
    
    <!-- jquery-parallax -->
    <script src="{% static 'destiny/lib/jquery-parallax/scripts/jquery.parallax-1.1.3.js' %}"></script>    
    
    <!-- mailchimp -->
    <script src="{% static 'destiny/lib/mcapi-simple-subscribe-jquery/js/mailing-list.js' %}"></script>                
    <!-- mailchimp -->  
    
    <script src="{% static 'destiny/lib/ajax-html-contact-form/js/validation.js' %}"></script>
    
    <script src="{% static 'destiny/lib/superslides/dist/jquery.superslides.js' %}"></script>
    
    <script src="{% static 'destiny/lib/jquery.appear/jquery.appear.js' %}"></script>  
    
    <script src="{% static 'destiny/lib/jquery.bxslider/jquery.bxslider.min.js' %}"></script>
    
    <script src="{% static 'destiny/lib/3DGridEffect/js/classie.js' %}"></script>
    <script src="{% static 'destiny/lib/3DGridEffect/js/helper.js' %}"></script>
    <script src="{% static 'destiny/lib/3DGridEffect/js/grid3d.js' %}"></script>
    
    <script src="{% static 'destiny/lib/magnific-popup/dist/jquery.magnific-popup.js' %}"></script>
    
    <script src="{% static 'destiny/js/custom.js' %}"></script>

    
    
    </body>
</html>
