{% extends 'emeka/base.html' %}

{% block page-title %}Emeka Enterprises LLC - Mobile Is The New Sexy{% endblock %}
{% block carousel %}{% endblock %}
{% block mega-menu %}{% endblock %}
{% block clients %}{% endblock %}
{% block blog-header %}{% endblock %}
{% block blog %}{% endblock %}
{% block meet-team %}{% endblock %}
{% block icon-set %}{% endblock %}
{% block latest-work-header %}{% endblock %}
{% block latest-work %}{% endblock %}
{% block content-2 %}{% endblock %}
{% block content-3 %}{% endblock %}

{% comment %} This is footer stuff {% endcomment %}
{% block blogroll %}{% endblock %}
{% block subscribe %}{% endblock %}
{% block terms %}{% endblock %}